@model IEnumerable<CMSys.Core.Entities.Catalog.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsNew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisualOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisualOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
